<section class="home">
  <% if @school -%>
    <article id="next_school">
      <h4 class='title'><%= link_to @school.title, program_path %></h3>
      <h3 class='theme'><%= @school.theme %></h2>
      <h3 class='school_when_where'>
        <%= @school.when_and_where %></h2>
    </article>
  <% else -%>
    <h2>No school registered in database, yet.</h2>
  <% end -%>
</section>
