section.home
  background-image: image-url("fnd-home.jpg")
  height: 311px

#next_school
  width: 310px
  margin: 0 auto
  padding: 20px 40px
  text-shadow: 0px 1px 1px white
  .title, .theme, .school_when_where
    margin: 15px 0
  .title
    line-height: 20px
    a
      color: inherit
  .theme
    color: #D66C0E
    line-height: 20px

  .school_when_where
    color: #4689B5
    text-shadow: 1px 1px white
  aside
    width: 80%
    .btn-large
      margin-bottom: 10px
      width: 100%
